<h2><%= @company.name %></h2>

<div>
    <p>Business Name: <%= @company.business_name%></p>
    <p>CNPJ: <%=@company.cnpj %>
    <p>Current Certification:<%= @company.current_certification %></p>
</div>


 