
<header>
      <nav class="nav-wrapper teal darken-1" style="position: fixed;"">
          <a href="#" data-target="slide-out" class="btn sidenav-trigger"><i class="material-icons">menu</i></a>
          <div>
              <p class="brand-logo center white-text nav-text-logo"> R.A.T Report</p>
          </div>
      </nav>
</header> 

<main style="padding-top: 120px;">
    <%= render "form" %>
</main>